<!DOCTYPE html>
<html lang={{lang}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
    <title>Home</title>
</head>
<body>
    <button hx-post="/clicked" hx-target="#target" hx-swap="outerHTML">
        Click Me
    </button>
    <p id="target"></p>
</body>
</html>